<h1 align="center">New Message</h1><% all_friends = (current_user.all_friends + current_user.all_inverse_friends) %>

<div id="spacer"></div>

<table id="messages">
	<%= form_for(:message, :url => {:controller => 'messages', :action => 'create'}) do |f| %>
		<tr>
				<td id="type">To:</td>
				<% if flash[:error_receiver] %><td class="notice"><%else %><td id="data"><% end %>
					<%= select("message", "receiver_id", all_friends.collect {|p| [ p.username, p.id ] }, {:prompt => 'Select Friend'}) %></input></td>
		</tr>
		<tr>
				<td id="type">Subject:</td>
				<% if flash[:error_subject] %><td class="notice"><%else %><td id="data"><% end %><%= f.text_field :subject %></input></td>
		</tr>
		<tr>
				<td id="type">Message: </td>
				<% if flash[:error_body] %><td class="notice"><%else %><td id="data"><% end %><%= f.text_area :body, :cols => "30", :rows => "10" %></input></td>
		</tr>
		<tr>
			<td><%= f.submit "Send Message"%></td>
		</tr>
	<% end %>
</table>
<div id="spacer"></div>
<div id="spacer"></div>
<div id="spacer"></div>

<%= link_to "Back", inbox_path %>
