<script>
$(document).ready(
 function(){
   setInterval(function(){
     $('#loadEventForm').submit();
   }, 10000);
 });

</script>

<%= form_tag ({:action => 'loadEvent'}), ({:id => "loadEventForm", :remote => true, :format => :js}) do %>
	<%= hidden_field_tag 'last_event', @events.first.id %>
<% end %>

<h3 class="title">
	Hello...<%= @current_user.username %>
</h3>

<% if !@events.nil? %>
<div id="EventList">
	<hr />
	<% @events.each do |event| %>
		<dl>
			<dt><b><%= event.user.f_name %></b></dt>
			<dd>Event: <%= event.name %></dd>
			<dd>Location: <%= event.location %></dd>
			<dd>Start date: <%= event.start_date %></dd>
			<dd>End date: <%= event.end_date %></dd>
			<dd>Is public: <%= event.public %></dd>
		</dl>
		<hr />
	<% end %>
</div>
<% end %>