<% if flash[:notice] %>
      <p class="notice">
      	<%= flash[:notice] %>
      </p>
<% end %>
<h1 align="center">Your Profile</h1>
<table>
	<tr>
		<td class="label">Username:</td>
		<td class="input"><%= @profile.username %></td>
	</tr>
	<tr>
		<td class="label">Name:</td>
		<td class="input"><%= @profile.l_name %>, <%= @profile.f_name %></td>
	</tr>
	<tr>
		<td class="label">E-mail:</td>
		<td class="input"><%= @profile.email %></td>
	</tr>    		
	<tr>
		<td class="label">DOB</td>
		<td class="input"><%= @profile.dob %></td>
	</tr>    		
	<tr>
		<td class="label">Gender</td>
		<td class="input"><% if (@profile.gender == 'M') %> Male <% elsif (@profile.gender == 'F') %> Female <% else %> Other <% end %></td>
	</tr>   		
	<tr>
		<td class="label">Description</td>
		<td class="input"><%= @profile.description %></td>
	</tr>
	<tr>
		<td class="label">Google</td>
		<td class="input">
			<% if !@verify_auth_token_date %>
				<%= link_to "Sign in with Google", "/auth/google_oauth2" %>
			<% elsif @verify_auth_token_date.expires_at.nil? || @verify_auth_token_date.expires_at.past? %>
				<%= link_to "Sign in with Google", "/auth/google_oauth2" %>
			<% else  %>
				Already signed in. <%= link_to "Log out?", {:controller => "authentications", :action => "destroy_session"}, :method => :post %>
			<% end%>
		</td>
	</tr>
</table>