<h1 align="center">Your Profile</h1>
<table>
	<tr>
		<td class="label">Username:</td>
		<td class="input"><%= @profile.username %></td>
	</tr>
	<tr>
		<td class="label">Name:</td>
		<td class="input"><%= @profile.l_name %>, <%= @profile.f_name %></td>
	</tr>
	<tr>
		<td class="label">E-mail:</td>
		<td class="input"><%= @profile.email %></td>
	</tr>    		
	<tr>
		<td class="label">DOB</td>
		<td class="input"><%= @profile.dob %></td>
	</tr>    		
	<tr>
		<td class="label">Gender</td>
		<td class="input"><% if (@profile.gender == 'M') %> Male <% elsif (@profile.gender == 'F') %> Female <% else %> Other <% end %></td>
	</tr>   		
	<tr>
		<td class="label">Description</td>
		<td class="input"><%= @profile.description %></td>
	</tr>
</table>