<% @page_title = "Signup" %>
<div class="sign_form">
	<h1>
		Sign up!
	</h1>
	<table>
    	<tr>
    		<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    		<td class="label">Username:</td>
    		<td class="input"><%= f.text_field :username %></td>
    	</tr>
    	<tr>
    		<td class="label">E-mail:</td>
    		<td class="input"><%= f.text_field :email %></td>
    	</tr>
    	<tr>
    		<td class="label">First name:</td>
    		<td class="input"><%= f.text_field :f_name %></td>
    	</tr>
    	<tr>
    		<td class="label">Last name:</td>
    		<td class="input"><%= f.text_field :l_name %></td>
    	</tr>
    	<tr>
    		<td class="label">Mobile phone:</td>
    		<td class="input"><%= f.text_field :mobile_phone %></td>
    	</tr>
    	<tr>
    		<td class="label">DOB:</td>
    		<td class="input"><%= f.datepicker :dob %></td>
    	</tr>
    	<tr>
    		<td class="label">Gender:</td>
    		<td class="input"><%= f.select(:gender, [['Male', 'M'], ['Female', 'F'], ['Other', 'O']]) %></td>
    	</tr>
    	<tr>
    		<td class="label">Short description:</td>
    		<td class="input"><%= f.text_field :description, :class => 'description'%></td>
    	</tr>
    	<tr>
    		<td class="label">Password:</td>
    		<td class="input"><%= f.password_field :password %></td>
    	</tr>
    	<tr>
    		<td class="label">Confirm:</td>
    		<td class="input"><%= f.password_field :password_confirmation %></td>
    	</tr>
    	<tr>
    		<td><%= f.submit :Signup , :class => "button" %></td>
    	</tr>
    </table>
	<% end %>
		
	<% if @user.errors.any? %>
		<ul class="signup_errors">
			<% for message_error in @user.errors.full_messages %>
			<li>* <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>
