<h1>Searching for Friends...</h1>

<div id="list">

<table border="0" cellpadding="0" cellspacing="1" width="100%">
	<% if !@search_list.nil? %>
		<% if @search_list.size > 0 %>
			<tr>
				<td width="70%"></td>
				<td width="30%"></td>
			</tr>
			<% @search_list.each_with_index do |user,i| %>
				<tr>
					<td><%= i+1 %>. <b><%= user.username %></b> (<%= user.l_name %>, <%= user.f_name %>)</td>
					<td align="center"><%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post %></td>
				</tr>
			<% end %>
		<% else %>
			<tr>
				<td width="70%">No results</td>
				<td width="30%"></td>
			</tr>
		<% end %>
	<% else %>
		<tr>
			<td width="70%">No results</td>
			<td width="30%"></td>
		</tr>
	<% end%>
</table>
</div>
