<h1>Search Users</h1>
<%= javascript_include_tag "jquery.ui.core", "jquery.ui.widget", "jquery.ui.position", "jquery.ui.autocomplete" %>
<%= form_tag :controller => 'users', :action => 'search' do %>
      <%= text_field_tag :search, params[:search], :id => 'search_field' %>
     <%= submit_tag "Search", :name => nil %> 
 <% end %> 

<div id="list">
<% if !@search_list.nil? %>
	<% if @search_list.size >= 0 %>
	<table width="250px" border="0" cellpadding="0" cellspacing="1">
		<tr>
			<td width="70%"></td>
			<td width="30%"></td>
		</tr>
		<% @search_list.each do |user| %>
			<tr>
				<td><%= user.username %> | <%= user.f_name %> | <%= user.l_name %></td>
				<td align="center"><%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post %></td>
			</tr>
		<% end %>
	</table>
	<% else %>
		No results
	<% end%>
<% end %>
</div>
