
	<%= form_for @event do |f| %>
		<p>Event Name: <%= f.text_field :name %></p>
		<p>Start Date: <%= f.text_field :start_date %></p>
		<p>End Date: <%= f.text_field :end_date %></p>
		<p>Location: <%= f.text_field :location %></p>
		<p>Make Public: <%= f.check_box(:public) %></p>
		<%= f.submit "Submit" %>
	<% end %>
