<h1>Personal Event list</h1>
<% @p_event.each do |event| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td class="list_description">
        <dl>
          <dt>Event Name: <%= event.name %></dt>
          <dd>Even Location: <%= event.location %></dd>
          <dd>Start date: <%= event.start_date %></dd>
          <dd>End date: <%= event.end_date %></dd>
          <dd>Is public: <%= event.public %></dd>
          <dd>Owner: <%= event.user_id %></dd>
          <%= button_to 'Edit', edit_event_path(event)  %>

          <%= button_to 'Destroy', { :action => 'destroy', :id => event }, :confirm => 'Are you sure?', :post => true %></td>
        </dl>
      </td>
    </tr>
  <% end %>
  </table>



<h1>Public Event list</h1>
<% @event.each do |event| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td class="list_description">
        <dl>
          <dt>Event Name: <%= event.name %></dt>
          <dd>Even Location: <%= event.location %></dd>
          <dd>Start date: <%= event.start_date %></dd>
          <dd>End date: <%= event.end_date %></dd>
          <dd>Is public: <%= event.public %></dd>
          <dd>Owner: <%= event.user_id %></dd>
        </dl>
      </td>
    </tr>
  <% end %>
  </table>