<div id="events">
	<% if flash[:notice] %>
	  <p class="notice">
	  	<%= flash[:notice] %>
	  </p>
	<% end %>
	<h1 align="center">Your Events</h1>
	
	
	<% if @p_event.size == 0 && @event.size == 0%>
			You haven't created any events!<br />
		 <%= link_to "Post an event now!", post_path %>
	<% else %>
		<% if @p_event.size > 0 %>
				<table>
				<% @p_event.each do |event| %>
			          <% if event.end_date < Date.today %>
			          	<tr>
			          		<td class="label">Name:</td>
				    		<td class="input"><%= link_to event.name, :controller => "events", :action => "show", :id => event.id %></td>
				    		<td class="input"></td>			    		
				    			
				    		<% if event.user_id.equal?(current_user.id) %>
				    			<td class="input"><%= button_to 'Destroy', { :controller => "events", :action => "destroy", :id => event }, :confirm => 'Are you sure?', :method => :delete %></td>
							<% else %>
				    			<td class="input">Event passed.</td>
				    		<% end %>
			          	</tr>
			          <% else %>
				    	<tr>
				    		<td class="label">Name:</td>
				    		<td class="input"><%= link_to event.name, :controller => "events", :action => "show", :id => event.id %></td>
				    		
				    		<% if event.user_id.equal?(current_user.id) %>
				    			<td class="input"><%= button_to 'Modify', { :controller => "events", :action => "edit", :id => event }, :method => :put %></td>
				    			<td class="input"><%= button_to 'Destroy', { :controller => "events", :action => "destroy", :id => event }, :confirm => 'Are you sure?', :method => :delete %></td>
			    			<% elsif event.memberships.find(:all, :conditions => ['user_id = ?', current_user.id]).size == 1 %>
			    				<td class="input"><%= link_to 'Count Me Out!', leave_path(:id => event.id), :method => :post %></td>
			  				<% else %>
			  					<td class="input"><%= link_to "Count Me In!", join_path(:event_id => event.id), :method => :post %></td>
			  				<% end %>
			  				
				    	</tr>
		    			<% end %>
		    		<% end %>
		    	</table>
		<% else %>
			<table>
				<tr>
					<td>You don't own any events. <%= link_to "Create one now?", post_path %></td>
				</tr>
			</table>
		<% end %>
	<% end %>
</div>