<h1>Add New Event</h1>
<%= link_to :controller => 'events', :action => 'index' %>
	<%= form_for(:event, :url => {:controller => 'events', :action => 'create'}) do |f| %>
		<p>Event Name: <%= f.text_field :name %></p>
		<p>Start Date: <%= f.text_field :start_date %></p>
		<p>End Date: <%= f.text_field :end_date %></p>
		<p>Location: <%= f.text_field :location %></p>
		<p>Make Public: <%= check_box_tag(:public, "true") %></p>
		<%= f.submit %>
	<% end %>

	<% if @event.errors.any? %>
		<ul class="new_event_errors">
			<% for message_error in @event.errors.full_messages %>
			<li>* <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>