<h1 align="center"><%= @event.name %></h1>
<div align="center">
	<table>
    	<tr>
    		<td class="label">Location:</td>
    		<td class="input"><%= @event.location %></td>
    	</tr>
    	<tr>
    		<td class="label">Start date:</td>
    		<td class="input"><%= link_to @event.start_date, agenda_path(:date => @event.start_date) %></td>
    	</tr>
    	<tr>
    		<td class="label">End date:</td>
    		<td class="input"><%= @event.end_date %></td>
    	</tr>    		
    	<tr>
    		<td class="label">Public?</td>
    		<td class="input"><% if @event.public == 1%>Yes<%else%>No<% end %></td>
    	</tr>
    	<% if current_user %>
    	<tr>
			<% if @event.user_id.equal?(current_user.id) %>
				<td class="input"><%= button_to 'Modify', { :controller => "events", :action => "edit", :id => @event }, :method => :put  %></td>
			    <td class="input"><%= button_to 'Destroy', { :controller => "events", :action => "destroy", :id => @event }, :confirm => 'Are you sure?', :method => :delete %></td>
			<% elsif @event.memberships.find(:all, :conditions => ['user_id = ?', current_user.id]).size == 1 %>
				<td class="label"><%= link_to 'Count Me Out!', leave_path(:id => @event.id), :method => :post %></td>
    			<td class="input"></td>
			<% else %>
				<td class="label"><%= link_to "Count Me In!", join_path(:event_id => @event.id), :method => :post %></td>
    			<td class="input"></td>
			<% end %>
    	</tr>
    	<% end %>
    </table>
<% if current_user %>
	<% content_for :sidebar do %>
		<table id="members">
			<tr>
				<td id="members_title"><b>Members</b></td>
			</tr>
			<% @event_memberships.each do |member| %>
				<tr>
			    	<td <% if member.user_id == @event.user_id %>id="member_owner_line"<% else %>id="member_line"<%end%>><%= member.l_name %>, <%= member.f_name %></td>
			    </tr>
			    <% end %>
		</table>
	<% end %>
<% else %>
	<% content_for :sidebar do %>
		<table id="members">
			<tr>
				<td id="members_title"><b>Members</b></td>
			</tr>
			<tr>
				<td>Sign up to view.</td>
			</tr>
		</table>
	<% end %>
<% end %>
</div>