<!DOCTYPE html>
<html>
<head>
  <title>Count Me In!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "rails.js"%>
</head>
<!-- START_HIGHLIGHT -->
<body class='<%= controller.controller_name %>'>
<div id="container">
	<div id="menu">
		<div class="left">
			<%= link_to "Home", home_path %>
			<% if current_user %>
				<% unread = Message.count(:all, :conditions => ["receiver_id = ? and read == 0", @current_user.id]) %>
				<% pending_friends = (current_user.all_friends_requests + current_user.all_inverse_friends_requests).count %>
				<%= link_to "Profile", profile_path %>
				<% if pending_friends == 0 %>
					<%= link_to "Friends", friends_path %>
				<% else %>
					<%= link_to "Friends (#{pending_friends})", friends_path %>
				<% end %>
				<%= link_to "View Events", events_path %>
				<%= link_to "Post Events", post_path %>
				<%= link_to "Agenda", agenda_path %>
				<% if unread == 0 %>
					<%= link_to "Mail", inbox_path %>
				<% else %>
					<%= link_to "Mail (#{unread})", inbox_path %>
				<% end %>
				<%= link_to "Log out", :controller => 'sessions', :action => 'logout' %>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="content">
		<div id="main"><%= yield %></div>
		<div id="sidebar">
			<% if content_for?(:sidebar)  %>
	 			<%= yield(:sidebar)  %>
	 		<% else %>
				<% if current_user %>
					<% if @online_friends.size > 0 %>
						<table id="online">
							<tr>
								<td id="online_title"><b>Online</b></td>
							</tr>
							<% @online_friends.each do |online| %>
								<tr>
							    	<td id="online_friend_line"><%= online.username %></td>
							    </tr>
							    <% end %>
						</table>
					<% else %>
						<table>
								<tr>
									<th>
										No online friends.
									</th>
								</tr>
						</table>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="clear_container"></div>
	<div id="footer">
		
		<div class="left">
			<% if current_user %>
				<%= form_tag :controller => 'users', :action => 'search' do %>
	  				<%= text_field_tag :search, params[:search], :id => 'search', :placeholder => "Search for friends." %>
	 				<%= submit_tag "Go", :name => nil %> 
				<% end %>
			<% end %>
		</div>
		<div class="right">
			<% if current_user %>
				<%= form_tag :controller => 'events', :action => 'search' do %>
	  				<%= text_field_tag :search_events, params[:search_events], :id => 'search_events', :placeholder => "Search for events." %>
	 				<%= submit_tag "Go", :name => nil %> 
				<% end %>
			<% end %>
		</div>
	</div>
</div>
</body>
</html>
