<!DOCTYPE html>
<html>
<head>
  <title>Count Me In!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "rails.js"%>
</head>
<!-- START_HIGHLIGHT -->
<body class='<%= controller.controller_name %>'>
<div id="container">
	<div id="menu">
		<div class="left">
			<%= link_to "Home", home_path %>
			<% if session[:user_id] %>
				<% unread = Message.count(:all, :conditions => ["receiver_id = ? and read == 0", @current_user.id]) %>
				<%= link_to "Profile", profile_path %>
				<%= link_to "Friend", friends_path %>
				<%= link_to "View Events", events_path %>
				<%= link_to "Post Events", post_path %>
				<%= link_to "Agenda", agenda_path %>
				<% if unread == 0 %>
					<%= link_to "Mail", inbox_path %>
				<% else %>
					<%= link_to "Mail (#{unread})", inbox_path %>
				<% end %>
				<%= link_to "Log out", :controller => 'sessions', :action => 'logout' %>
			<% end %>
		</div>
		<div class="clear"></div>
		<div class="right">
			<% if session[:user_id] %>
				<%= form_tag :controller => 'users', :action => 'search' do %>
	  				<%= text_field_tag :search, params[:search], :id => 'search_field', :placeholder => "Search for friends." %>
	 				<%= submit_tag "Go", :name => nil %> 
				<% end %> 
			<% end %>
		</div>
	</div>
	
	<div id="content">
		<div id="main"><%= yield %></div>
		<div id="sidebar">
			<% if content_for?(:sidebar) %>
	 			<%= yield(:sidebar)  %>
			<% else %>
	 			Online Friends
			<% end %>
		</div>
	</div>
	<div class="clear_container"></div>
	<div id="footer"></div>
</div>
</body>
</html>
